<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section>
      <h2>127.0.0.1</h2>
    </section>

    <section>
      <ul>
        <li>Externe Links</li>
        <li>
          <% links.forEach(function(link){ %>
          <a class="button primary" href="<%= link.url %>" target="_blank"><%= link.name %></a>
          <% }); %>
        </li>
      </ul>
    </section>

    <section>
      <ul>
        <li>Nachrichten</li>
        <% messages.forEach(function(msg){ %>
        <li>
          <p>
            <span class="title">
              <span class="date"><%= msg.shortdate %></span>
              <span class="link"><a><%= msg.user.name %></a></span>
            </span>
            <br>
            <span class="data"><%= msg.data %></span>
          </p>
        </li>
        <% }); %>
      </ul>
      <form action="new-msg" methid="get">
        <input type="text" name="msg" placeholder="Nachricht">
        <button type="submit" class="primary">senden</button>
      </form>
    </section>
  </div>
</body>

</html>