<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="res">
      <p>
        <% if(res) { %>
        <%= res %>
        <% } %>
      </p>
    </section>

    <section>
      <ul>
        <li>Links</li>
        <% links.forEach(function(link){ %>
        <li>
          <a class="button primary" href="<%= link.url %>" target="_blank"><%= link.name %></a>
          <a class="button danger" href="del-link?url=<%= link.url %>&name=<%= link.name %>">X</a>
        </li>
        <% }); %>
      </ul>
    </section>

    <section>
      <form method="post" action="add-link">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="URL" name="url">
        <button type="submit" class="primary">Hinzufügen</button>
      </form>
    </section>
  </div>
</body>

</html>