<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="res">
      <p>
        <% if(res) { %>
        <%= res %>
        <% } %>
      </p>
    </section>

    <section>
      <form method="post" action="update-name">
        <input type="text" name="username" value="<%= user.name %>" minlegth="1" maxlength="32" required>
        <button type="submit" class="primary">Benutzername ändern</button>
      </form>
    </section>

    <section>
      <form method="post" action="update-data">
        <textarea name="data" rows="8" cols="80" minlegth="1" maxlength="2048"><%= user.data %></textarea>
        <button type="submit" class="primary">Beschreibung ändern</button>
      </form>
    </section>

    <section>
      <form method="post" action="update-pswd">
        <input type="password" placeholder="Altes Passwort" name="password_old" required>
        <input type="password" placeholder="Neues Passwort" name="password_new" required>
        <button type="submit" class="primary">Passwort ändern</button>
      </form>
    </section>

    <section>
      <form method="post" action="del-account">
        <input type="password" placeholder="Passwort" name="password" required>
        <button type="submit" class="danger">Account dauerhaft löschen</button>
      </form>
    </section>
  </div>
</body>

</html>