<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="res">
      <p>
        <% if(res) { %>
        <%= res %>
        <% } %>
      </p>
    </section>

    <section>
      <form methid="get" action="update-project-name">
        <input type="text" name="name" value="<%= project.name %>" minlegth="1" maxlength="32" required>
        <button type="submit" class="primary">Projektname ändern</button>
      </form>

      <form methid="get" action="update-project-data">
        <textarea name="data" rows="8" cols="80" minlegth="1" maxlength="2048"><%= project.data %></textarea>
        <button type="submit" class="primary">Beschreibung ändern</button>
      </form>

      <!-- Maintainer list -->
      <form methid="get" action="update-pswd">
        <input type="text" placeholder="Benutzername" name="maintainer" required>
        <button type="submit" class="primary">Benutzer hinzufügen</button>
      </form>

      <form methid="get" action="del-project">
        <button type="submit" class="danger">Projekt dauerhaft löschen</button>
      </form>
    </section>
  </div>
</body>

</html>