<!DOCTYPE html>
<html lang="de">

<head>
  <%- include('head'); %>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="container">
    <section id="res">
      <p>
        <% if(res) { %>
        <%= res %>
        <% } %>
      </p>
    </section>

    <section>
      <ul>
        <li>Projekte</li>
        <% projects.forEach(function(project){ %>
        <% canEdit = false; %>
        <li>
          <p class="title"><%= project.name %></p>

          <%- project.html %>

          <p class="maintainers">
            Maintainer:
            <% project.maintainers.forEach(function(maintainer){ %>
            <a href="users?id=<%= maintainer.id %>"><%= maintainer.name %></a>
            <% if(maintainer.id == userId) canEdit = true; %>
            <% }); %>
          </p>

          <% if(canEdit) { %>
          <p>
            <a class=" button primary" href="project?project=<%= project.id %>">Bearbeiten</a>
          </p>
          <% }; %>
        </li>
        <% }); %>
      </ul>
    </section>

    <section>
      <form methid="get" action="new-project">
        <input type="text" name="name" minlegth="1" maxlength="32" required>
        <button type="submit" class="primary">Neues Projekt</button>
      </form>
    </section>

  </div>
</body>

</html>